<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= course.name %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <img
      class="backgroundImg"
      src="https://static1.squarespace.com/static/5e949a92e17d55230cd1d44f/t/6503135de3c6577fbc27c966/1694700397907/TiGradient3x2.png?format=1500w"
    />

    <div class="bodyContent flexCol">
      <%- include("partials/header") %>

      <div class="absolute courseLayout flexCol">
        <h1 class="title"><%= course.name %> course</h1>
        <div class="container">
          <div class="cardContainer flexRow">
            <div class="card flexCol">
              <p class="cardText"><%= course.address %></p>
              <p class="cardText"><%= course.area %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
